<div class="card border-dark mb-3" style="max-width: 18rem;">
    <div class="card-header">${engineer.name}</div>
    <div class="card-body bg-light text-dark">
      <h5 class="card-title">${engineer.getRole()}</h5>
      <ul class="list-group">
        <li class="list-group-item" style="font-size: 14px;">ID: ${engineer.id}</li>
        <li class="list-group-item" style="font-size: 14px;">Email: ${engineer.email}</li>
        <li class="list-group-item" style="font-size: 14px;">GitHub: ${engineer.githubID}</li>
    </ul>
      <p class="card-text">${engineer.getFact()}</p>
    </div>
  
</div>