<div class="card border-dark mb-3" style="max-width: 18rem;">
    <div class="card-header">${intern.name}</div>
    <div class="card-body bg-light text-dark">
      <h5 class="card-title">${intern.getRole()}</h5>
      <ul class="list-group">
        <li class="list-group-item" style="font-size: 14px;">ID: ${intern.id}</li>
        <li class="list-group-item" style="font-size: 14px;">Email: ${intern.email}</li>
        <li class="list-group-item" style="font-size: 14px;">School: ${intern.schoolName}</li>
    </ul>
      <p class="card-text">${intern.getFact()}</p>
    </div>
  
</div>