<div class="card border-dark mb-3" style="max-width: 18rem;">
    <div class="card-header">${manager.name}</div>
    <div class="card-body bg-light text-dark">
      <h5 class="card-title">${manager.getRole()}</h5>
      <ul class="list-group">
        <li class="list-group-item" style="font-size: 14px;">ID: ${manager.id}</li>
        <li class="list-group-item" style="font-size: 14px;">Email: ${manager.email}</li>
        <li class="list-group-item" style="font-size: 14px;">Office Number: ${manager.numberOffice}</li>
    </ul>
      <p class="card-text">${manager.getFact()}</p>
    </div>
  
</div>